<h1>
  {{test}}
</h1>



<!--{{posts | sort:'ascending'}}-->
<div *ngFor="let post of posts" >
  <span (click)="incrementUpvotes(post)">^</span>
  <a [hidden]='posts.link' href="{{posts.link}}">
  {{post.title}} 
  </a>
  <span ng-hide="post.link">
    {{post.title}}
  </span>
  - upvotes: {{post.upvotes}}
</div>

<br>
<form (ngSubmit)="addPost()">
  <input type="text" placeholder="Title" name="text" [(ngModel)]="title"> <br>
  <input type="text" placeholder="Link" name="text" [(ngModel)]="Link">
  <button type="submit">Post</button>
</form>

<br>

  
  <a routerLink="/my-component">Home</a> <br>
  <a routerLink="/post">post</a>
  <router-outlet></router-outlet>




