
<div *ngFor="let post of posts" >
  <span (click)="incrementUpvotes(post)">^</span>
  <a [hidden]='posts.link' href="{{posts.link}}">
  {{post.title}} 
  </a>
  <span ng-hide="post.link">
    {{post.title}}
  </span>
  - upvotes: {{post.upvotes}}
</div>

<div *ngFor="let comment of this.posts.comments">
    <span (click)="incrementUpvotes(comment)">
    {{comment.upvotes}} - by {{comment.author}}
      {{comment.body}}
      </span>
       </div>



<br>
<form (ngSubmit)="addComment()">
    <h3>Add a new comment</h3>
    <input type="text" placeholder="Comment" name="text" [(ngModel)]="body" >
    <button type="submit" >Post</button>
  </form>
